Repository adimajo/whiteapp_flask: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, test, security, document, build whiteapp

Path conditions:
  lint: any of: .gitlab-ci.yml, whiteapp/*
  test: any of: .gitlab-ci.yml, whiteapp/*, tests/*
  security: any of: .gitlab-ci.yml, whiteapp/*
  document: any of: .gitlab-ci.yml, whiteapp/*, docs/*
  build whiteapp: any of: .gitlab-ci.yml, whiteapp/*

rename $SONAR_*
  README.md
Due: none

Rollout version 1.0.0
  README.md
  docs/_autosummary/whiteapp.WhiteApp.html
  docs/_autosummary/whiteapp.html
  docs/_static/basic.css
  docs/index.html
Due: document

readd pipeline
  .gitlab-ci.yml
Due: lint, test, security, document, build whiteapp

pinning older version of werkzeug (bug introduced in flask-restx)
  whiteapp/Pipfile
Due: lint, test, security, document, build whiteapp

typo in package name...
  whiteapp/Pipfile
Due: lint, test, security, document, build whiteapp

Rollout version 1.0.0
  docs/_autosummary/whiteapp.WhiteApp.html
  docs/_autosummary/whiteapp.html
  docs/_static/basic.css
  docs/_static/documentation_options.js
  docs/_static/searchtools.js
  docs/index.html
  docs/searchindex.js
Due: document

trying another restriction
  whiteapp/Pipfile
Due: lint, test, security, document, build whiteapp

Rollout version 1.0.0
  docs/_autosummary/whiteapp.WhiteApp.html
  docs/_autosummary/whiteapp.html
  docs/_static/basic.css
  docs/index.html
Due: document

new try at locking werkzeug on gitlab and travis
  .gitlab-ci.yml
  .travis.yml
  whiteapp/Pipfile
Due: lint, test, security, document, build whiteapp

missing quote
  .gitlab-ci.yml
Due: lint, test, security, document, build whiteapp

new try at caching deps
  .gitlab-ci.yml
Due: lint, test, security, document, build whiteapp

cache for pages
  .gitlab-ci.yml
Due: lint, test, security, document, build whiteapp

missing negation
  .gitlab-ci.yml
Due: lint, test, security, document, build whiteapp

missing debian deps for pages
  .gitlab-ci.yml
Due: lint, test, security, document, build whiteapp
